Repository Carrera-Dev-Consulting/zombie_nomnom, pull requests merged in 2024-11, with the labels that each got.

#57 chore(versioning): Fixing version to lookup valid versions.
  pyproject.toml
Labels: dependency-updated

#58 feat: adding name field
  tests/unit/zombie_nomnom/models/test_dice.py
  zombie_nomnom/models/dice.py
Labels: core, tests, unit-tests-updated

#59 build(pypi): Fix the issue to deploy to pypi by hard setting version.
  .github/workflows/python-publish.yml
Labels: devops

#61 feat: custom faces edits
  tests/unit/zombie_nomnom/test_engine.py
  zombie_nomnom/engine.py
  zombie_nomnom/models/dice.py
Labels: core, tests, unit-tests-updated
